nav {
    z-index: 100;
    display: flex;
    justify-content: space-between;
    padding: 1% 2%;
    backdrop-filter: blur(5px);
    background-color: var(--nav-color);
    /* background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, var(--nav-color) 20%); */
}

nav > div{
    display: flex;
    align-items: center;
    gap: 20px;
}
nav img{
    height: 50px;
}
nav h2,nav h3{
    color: var(--background-color);
    text-shadow: 3px 4px 7px var(--text-color);
}